@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200;1,600&display=swap');
@import url('./Alert.css');
@import url('./widget.css');
@import url('./header.css');
* {
    font-family: var(--textfont) !important;
}
p{
    margin-bottom: 0 !important;
}
:root {
    --background: #060C1A;
    --todo-highlit: linear-gradient(145deg, #162850, #121A2D);
    --card-todohighlit: var(--secondery-color, #0E1421);
    --carbackgroundtoday: linear-gradient(255.23deg, rgba(14, 20, 33, 0.5) 0.78%, rgba(29, 50, 95, 0.5) 50.49%, rgba(14, 20, 33, 0.5) 99.22%);
    --textcolor: #FFFFFF;
    --textfont: Inter;
    --transition: 300ms;
    --transition500: 500ms;
    /* Colors */
    --input-bg-color: #0E1421;
    --color-dark: #0c0f14;
    --color-darkGray: #ffffff;
    --color-gray: #1a1a1b;
    --color-offwhite: #cecece;
    --shadow-color: var(--color-dark);
    /* Shadow uses --color-dark */
}


.light-theme {
    --background: #FBFCFF; /* Opposite of the dark background */
    --todo-highlit: linear-gradient(145deg, #CDDDFF, #b1c8fb); /* Lighter gradient */
    --card-todohighlit: #F0F4FF; /* Lighter secondary color */
    --carbackgroundtoday: linear-gradient(255.23deg, rgba(240, 244, 255, 0.5) 0.78%, rgba(210, 230, 255, 0.5) 50.49%, rgba(240, 244, 255, 0.5) 99.22%); /* Softer light gradient */
    --textcolor: #000000; /* Dark text for light backgrounds */
    --textfont: Inter; /* Font remains consistent */
    --input-bg-color: #CDDDFF; /* Lighter input background */
    --color-dark: #FFFFFF; /* Inverse of dark */
    --color-darkGray: #000000; /* Opposite of white */
    --color-gray: #E3E9FF; /* Lighter gray */
    --color-offwhite: #1A1A1B; /* Opposite of offwhite */
    --shadow-color: #000; /* Invert the shadow color */
}

/* Background Classes */

body {
    background-color: var(--background) !important;
    transition: background-color 0.3s, color 0.3s;
}

.bg-background {
    background-color: var(--background) !important;
}

.bg-todo-highlit {
    background: var(--todo-highlit) !important;
}

.bg-card-todohighlit {
    background-color: var(--card-todohighlit) !important;
}

.bg-carbackgroundtoday {
    background: var(--carbackgroundtoday) !important;
}

/* Text Color Classes */
.text-primary {
    color: var(--textcolor) !important;
}

/* Text Font Classes */
.font-text {
    font-family: var(--textfont) !important;
}